body {
    background: #333;
    color: #fff;
    font: 300 100.1% "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
}
#holder {
    height: 480px;
    left: 50%;
    margin: -240px 0 0 -320px;
    position: absolute;
    top: 50%;
    width: 640px;
    background: rgba(255, 0, 0, 0.2);
}
#copy {
    bottom: 0;
    font: 300 .7em "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
    position: absolute;
    right: 1em;
    text-align: right;
}
#copy a {
    color: #fff;
}

.ui-menu {
    z-index: 1000;
    position: absolute;
}

.ui-menu ul {
    margin: 0;
    padding: 0;
    box-shadow: 1px 2px 6px #000;
}

.ui-menu li {
    list-style: none;
    background: white;
    color: black;
    line-height: 2;
    cursor: pointer;
    min-width: 150px;
    padding-left: 5px;
    border-top: 1px solid #cfcfcf;
}

.ui-menu li:hover {
    background: #c3d9ff;
}
